name: FreeBSD 15 Test CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: FreeBSD 15 VM
        uses: vmactions/freebsd-vm@v1
        with:
          release: "15.0"
          run: |
            echo "FreeBSD VM is working"
            uname -a
            pkg update -f
            pkg install -y git
